.AlignCenter{
    text-align: center;
}
.Margin25px{
    margin: 25px;
}
.Margin5px{
    margin: 5px;
}
.FontSize16{
    font-size: 12px;
    padding: 4px !important;
}
.MarginBot5{
    margin-bottom: 5px;
}
.MarginTop5{
    margin-top: 5px;
}